[user]
	name = fiahfy
	email = d.fiahfy@gmail.com
[core]
	excludesfile = ~/.gitignore
	pager = less -r
[color]
	ui = true
[push]
	default = simple
[alias]
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	a = add -v
	b = branch
	br = branch
	ba = branch -a
	bd-all = !git branch --merged | grep -v \\* | xargs -n 1 git branch -d
	c = commit
	ci = commit
	cm = commit -m
	co = checkout
	d = diff
	h = log --graph -n 20 --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
	l = log
	r = reset
	s = status -s -b
	st = status
[http]
	sslVerify = false
[include]
	path = ~/.gitconfig.local
[url "git@github.com:"]
	pushinsteadof = https://github.com/
